# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings


# System Files
.DS_Store
Thumbs.db
/task-web/src/main/webapp/node_modules/
/task-web/src/main/webapp/e2e/
/task-app/task-persistence/target/
/task-app/task-service/target/

/task-web/target/
/task-demo.ipr
/task-demo.iws
/task-demo.iml
